@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

.a {
  font-family: "press Start 2P", sans-serif;
  color: #eee;
  background-color: rgb(0, 0, 0);
}
@media screen and (min-wuidth: 800px) {
  body {
    font-size: 10%;
  }
}

.b {
  font-size: 130px;
}
h1 {
  text-align: center;
  font-size: 80px;
}
.input {
  display: flex;
  flex-direction: column;
  width: 10rem;
  justify-content: space-around;
  justify-content: space-between;
  float: left;
}
.btn,
.again {
  border: black solid 2px;
  padding: 11px;
  font-weight: bold;
  font-size: 30px;
  width: 10rem;
  margin-top: 15px;
  margin-left: 10px;
  background-color: blueviolet;
  cursor: pointer;
}

.sec {
  float: right;
  font-size: 30px;
}

.g,
.massege,
.score,
.f {
  background-color: black;
}
.inp {
  border: 11px solid #eee;
  font-size: 4rem;
  width: 10rem;
  display: block;
}

.btn:hover {
  background-color: #ccc;
}
.again:hover {
  background-color: #ccc;
  color: black;
}
